{% extends 'base.html' %}

{% block header %}
<section class="content">
  <div class="container">
    <div class="row">
      <h1 class="text-center">{% block title %}Login{% endblock %}</h1>
    </div><!-- end row -->
  </div><!-- end container -->
</section>
{% endblock %}

{% block content %}
<section class="content">
  <div class="container">
    <form method="post">
      <label for="username">Username</label>
      <input name="username" id="username" required>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
      <input type="submit" value="Log In" class="pi-btn-default">
    </form>
  </div>
</section>
{% endblock %}