{% extends 'base.html' %}

{% block header %}

<section class="content">
  <div class="container">
      <div class="row">
          <h1 class="text-center">Member: {{user}}</h1>
      </div><!-- end row -->
  </div><!-- end container -->
</section>

<!-- portfolio section -->
<section class="content">
  <div class="container">
    <div class="row">

      <div class="col-md-7 padd">
        <img src="img/portfolio/technology/image_02.jpg" alt="" width="300" height="auto" />
        <div class="owl-carousel owl-item-1">

          <div class="item">
            <img src="img/image_02.jpg" alt="" />
          </div>
          <div class="item">
            <img src="img/image_01.jpg" alt="" />
          </div>
          <div class="item">
            <img src="img/image_03.jpg" alt="" />
          </div>

        </div><!-- end carousel-v3 -->

      </div><!-- end col-md-7 -->
      <div class="col-md-5 padd">
        <h6><i class="fa fa-home margin-right-10"></i>Avg Votes</h6>
        <p>{{score}}</p>
        <h6><i class="fa fa-trophy margin-right-10"></i>Win Count</h6>
        <p>{{win_total}}</p>
        <h6><i class="fa fa-beer margin-right-10">Avg ABV</i></h6>
        <p>{{avg_abv}}</p>
      </div><!-- end col-md-7 -->

    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end portfolio section -->
{% endblock %}

{% block content %}
<!-- table -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 padd">
        <h3>{{user}}'s Beers</h3>

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Beer</th>
              <th>Brewery</th>
              <th>Style</th>
              <th>ABV</th>
              <th>Votes</th>
              <th>Win</th>
            </tr>
          </thead>
          <tbody>
            {% for beer in beers %}
            <tr>
              <td>{{ beer['beer_name'] }}</td>
              <td>{{ beer['brewery'] }}</td>
              <td>{{ beer['style'] }}</td>
              <td>{{ beer['beer_abv']}}</td>
              <td>{{ beer['votes'] }}</td>
              <td>{{ beer['win'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div><!-- end row -->
  </div><!-- end container -->
</section>
<!-- end tables -->
{% endblock %}