{% extends 'base.html' %}

{% block header %}
<!-- header -->
<section class="content">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Illustrious Flight Club Members</h1>
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}

{% block content %}
<!-- table -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padd">
                <h3>Users</h3>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>User Number</th>
                            <th>User Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{user['id']}}</td>
                            <td><a href="/users/{{user['username']}}">{{user['username'] }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end tables -->
{% endblock %}