{% extends 'base.html' %}

{% block header %}
<!-- header -->
<section class="content">
    <div class="container">
        <div class="row">
            <h1 class="text-center">{% block title %}Beer Log{% endblock %}</h1>
        </div><!-- end row -->
    </div><!-- end container -->
</section>
{% endblock %}

{% block content %}
<!-- table -->
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padd">
                <h3>Beers</h3>
                {{ pagination.info }}
                {{ pagination.links }}
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Session
                                <a href="/beers/list?key=session_id&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=session_id&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Beer Name 
                                <a href="/beers/list?key=beer_name&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=beer_name&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Brewery
                                <a href="/beers/list?key=brewery&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=brewery&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Style
                                <a href="/beers/list?key=style&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=style&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>ABV
                                <a href="/beers/list?key=beer_abv&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=beer_abv&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Votes
                                <a href="/beers/list?key=votes&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=votes&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Win
                                <a href="/beers/list?key=win&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=win&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                            <th>Member
                                <a href="/beers/list?key=username&sort=asc"><i class="fa fa-arrow-up"></i></a>
                                <a href="/beers/list?key=username&sort=desc"><i class="fa fa-arrow-down"></i></a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for beer in beers %}
                        <tr>
                            <td>{{ beer.session_id }}</td>
                            <td>{{ beer.beer_name }}</td>
                            <td>{{ beer.brewery }}</td>
                            <td>{{ beer.style }}</td>
                            <td>{{ beer.beer_abv }}</td>
                            <td>{{ beer.votes }}</td>
                            <td>{{ beer.win }}</td>
                            <td>{{ beer.username }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div><!-- end row -->
        {{ pagination.links }}
    </div><!-- end container -->
</section>
<!-- end tables -->
{% endblock %}